<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.1.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd">

	<!-- Placeholder -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations"
			value="classpath:storage.properties">
		</property>
	</bean>
	
	<!-- Storage -->
	<bean id="storage"
		class="com.ticketbooking.storage.impl.MapStorage"
		init-method="initFromFile">
		<property name="fileResource" value="${storage.inputDataFile}"></property>
	</bean>
	
	<!-- Dao -->
	<bean id="abstractDao"
		class="com.ticketbooking.storage.dao.AbstractStorageDao"
		abstract="true" init-method="initIdCounter">
	</bean>
	<bean id="userDao"
		class="com.ticketbooking.storage.dao.StorageUserDao"
		parent="abstractDao"
		autowire="byType">
	</bean>
	<bean id="eventDao"
		class="com.ticketbooking.storage.dao.StorageEventDao"
		parent="abstractDao"
		autowire="byType">
	</bean>
	<bean id="ticketDao"
		class="com.ticketbooking.storage.dao.StorageTicketDao"
		parent="abstractDao"
		autowire="byType">
	</bean>
	
	<!-- Services -->
	<bean id="userService"
		class="com.ticketbooking.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
		<property name="ticketDao" ref="ticketDao"></property>
	</bean>
	<bean id="eventService"
		class="com.ticketbooking.service.impl.EventServiceImpl">
		<property name="eventDao" ref="eventDao"></property>
		<property name="ticketDao" ref="ticketDao"></property>
	</bean>
	<bean id="ticketService"
		class="com.ticketbooking.service.impl.TicketServiceImpl">
		<property name="ticketDao" ref="ticketDao"></property>
	</bean>
	
	<!-- Facade -->
	<bean id="bookingFacade"
		class="com.ticketbooking.facade.impl.BookingFacadeImpl">
		<constructor-arg ref="userService"></constructor-arg>
		<constructor-arg ref="eventService"></constructor-arg>
		<constructor-arg ref="ticketService"></constructor-arg>
	</bean>
</beans>
