<h2>List of tickets</h2>
	<table>
		#if($uploaded)
			<font color="red">
				File ${fileName} is uploaded!
			</font>
		#end
    	<tr>
			<td>Ticket Id</td>	
			<td>User Id</td>
			<td>Event Id</td>
			<td>Category</td>
			<td>Place</td>
		</tr>
		#foreach($ticket in $tickets)
			<tr>
				<td>${ticket.id}</td>	
				<td>${ticket.userId}</td>
				<td>${ticket.eventId}</td>
				<td>${ticket.category}</td>
				<td>${ticket.place}</td>
			</tr>
		#end
	</table>
<br>