<h2>List of users</h2>
<ul>
	#foreach($user in $users)
		<li>
			<a href="users/user/id/${user.id}">${user.name}</a>
			&nbsp;
			<a href="tickets/user/${user.id}/download.pdf">Get users's tickets</a>
		</li>
	#end
</ul>
<br>
<a href="users/user/create">Create a new user<a>